<nav class="navbar">
  <div class="logo">
    <div class="logo-icon"></div>
    <div class="logo-text">VetLab</div>
  </div>
  <div class="nav-links">
    <a routerLink="/inicio" routerLinkActive="active">Inicio</a>
    <a routerLink="/dashboard" routerLinkActive="active">Cita</a>
    <a routerLink="/dashboard" routerLinkActive="active">Analíticas</a>
    <a routerLink="/dashboard" routerLinkActive="active">Contacto</a>
    <a routerLink="/login" routerLinkActive="active" class="login-btn">Login</a>
  </div>
</nav>
