<header class="navbar">
  <div class="navbar__logo">
    <div class="logo__square"></div>
    <div class="logo__accent"></div>
    <span class="logo__text">VetLab</span>
  </div>

  <nav class="navbar__menu">
    <a class="menu__item" routerLink="/inicio">Inicio</a>
    <a class="menu__item" routerLink="/cita">Cita</a>
    <a class="menu__item" routerLink="/analiticas">Analíticas</a>
    <a class="menu__item" routerLink="/contacto">Contacto</a>
  </nav>

  <div class="navbar__login">
    <a class="login__btn" routerLink="/login">Salir</a>
  </div>
</header>

<main class="main-content">
  <h1 class="welcome-text">Bienvenido {{ username }}</h1>
</main>
